html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, form, label,
table, article, aside, canvas,
figure, figcaption, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}

html {
  /*---Colors---*/
  --black: #444444;
  --white: #FFFFFF;
  --gray: #7A7A7A;
  --light-gray: #C1C1C1;
  /*---Fonts---*/
  --h1: 600 48px / 110% "RF Dewi";
  --h2: 600 32px / 110% "RF Dewi";
  --h3: 600 24px / 120% "RF Dewi";
  --h4: 600 20px / 120% "RF Dewi";
  --h5: 600 18px / 120% "RF Dewi";
  --h6: 600 16px / 120% "RF Dewi";
  --sub-title-1: 600 18px / 140% "Montserrat";
  --sub-title-2: 600 14px / 140% "Montserrat";
  --body-1: 400 18px / 150% "Montserrat";
  --body-2: 400 16px / 150% "Montserrat";
  --body-3: 400 14px / 150% "Montserrat";
  --body-4: 400 12px / 150% "Montserrat";
}

/*---Colors---*/
.black-bg {
  background-color: var(--black);
}

.black {
  color: var(--black);
}

.white-bg {
  background-color: var(--white);
}

.white {
  color: var(--white);
}

.gray-bg {
  background-color: var(--gray);
}

.gray {
  color: var(--gray);
}

.light-gray-bg {
  background-color: var(--light-gray);
}

.light-gray {
  color: var(--light-gray);
}

/*---Fonts---*/
.h1 {
  font: var(--h1);
}

.h2 {
  font: var(--h2);
}

.h3 {
  font: var(--h3);
}

.h4 {
  font: var(--h4);
}

.h5 {
  font: var(--h5);
}

.h6 {
  font: var(--h6);
}

.sub-title-1 {
  font: var(--sub-title-1);
}

.sub-title-2 {
  font: var(--sub-title-2);
}

.body-1 {
  font: var(--body-1);
}

.body-2 {
  font: var(--body-2);
}

.body-3 {
  font: var(--body-3);
}

.body-4 {
  font: var(--body-4);
}

p {
  font: var(--body-1);
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  html {
    /*---Colors---*/
    --black: #444444;
    --white: #FFFFFF;
    --gray: #7A7A7A;
    --light-gray: #C1C1C1;
    /*---Fonts---*/
    --h1: 600 48px / 110% "RF Dewi";
    --h2: 600 32px / 110% "RF Dewi";
    --h3: 600 24px / 120% "RF Dewi";
    --h4: 600 20px / 120% "RF Dewi";
    --h5: 600 18px / 120% "RF Dewi";
    --h6: 600 16px / 120% "RF Dewi";
    --sub-title-1: 600 18px / 140% "Montserrat";
    --sub-title-2: 600 14px / 140% "Montserrat";
    --body-1: 400 18px / 150% "Montserrat";
    --body-2: 400 12px / 150% "Montserrat";
    --body-3: 400 14px / 150% "Montserrat";
    --body-4: 400 12px / 150% "Montserrat";
  }
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v23-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v23-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v23-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v23-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v18-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* rf dewi - latin_cyrillic */
@font-face {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 600;
  src: local("RF Dewi Semibold"), local("RF-Dewi-Semibold"), url("/fonts/RFDewi-Semibold.woff2") format("woff2"), url("/fonts/RFDewi-Semibold.woff") format("woff"), url("/fonts/RFDewi-Semibold.ttf") format("truetype");
}
html {
  background-image: url("/img/background.svg");
  height: 1200px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid var(--light-gray);
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

#header-location:hover, #header-location:focus, .header-phone:hover, .header-phone:focus,
.header_nav-item a:hover,
.header_nav-item a:focus, .burger-button:hover, .burger-button:focus,
.header_button-set a:hover,
.header_button-set a:focus, .header_button-set button:hover, .header_button-set button:focus,
.header-middle-list a:hover,
.header-middle-list a:focus, .header-logo:hover, .header-logo:focus {
  color: var(--black);
  background: var(--light-gray);
  border-radius: 10px;
}
#header-location:hover p, #header-location:hover span, #header-location:focus p, #header-location:focus span, .header-phone:hover p, .header-phone:hover span, .header-phone:focus p, .header-phone:focus span,
.header_nav-item a:hover p,
.header_nav-item a:hover span,
.header_nav-item a:focus p,
.header_nav-item a:focus span, .burger-button:hover p, .burger-button:hover span, .burger-button:focus p, .burger-button:focus span,
.header_button-set a:hover p,
.header_button-set a:hover span,
.header_button-set a:focus p,
.header_button-set a:focus span, .header_button-set button:hover p, .header_button-set button:hover span, .header_button-set button:focus p, .header_button-set button:focus span,
.header-middle-list a:hover p,
.header-middle-list a:hover span,
.header-middle-list a:focus p,
.header-middle-list a:focus span, .header-logo:hover p, .header-logo:hover span, .header-logo:focus p, .header-logo:focus span {
  color: var(--black);
}

#header-location span, .header-phone span {
  white-space: nowrap;
}
/*# sourceMappingURL=base.css.map */
