@media screen and (min-width: 1366px) {
  header {
    border-bottom: 1px solid var(--light-gray);
  }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1780px;
    padding: 10px 0;
    position: relative;
  }
  header .wrapper:last-child {
    padding: 36px 0;
  }

  #header-location,
.header-phone,
.header_nav-item a,
.burger-button,
.header_button-set a,
.header_button-set button,
.header-middle-list a,
.header-logo {
    padding: 10px;
    display: block;
  }

  #header-location,
.header-phone,
.burger-button {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  #header-location p,
#header-location span,
.header-phone p,
.header-phone span,
.burger-button p,
.burger-button span {
    padding-top: 1px;
  }

  .header_nav {
    max-width: 1120px;
    width: 100%;
  }

  .header_nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header_button-set {
    display: flex;
    max-width: 205px;
    width: 100%;
    justify-content: space-between;
  }
  .header_button-set svg {
    display: block;
  }

  .header_middle {
    width: 100%;
    padding-left: 40px;
  }

  .header-middle_search {
    display: none;
  }

  .header-middle-list {
    display: flex;
    gap: 30px;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  main .news .discount {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 50px 50px;
  }
  main .news .discount .sub-title {
    color: var(--light-gray);
    padding: 0 0 15px;
  }
  main .news .discount-2 {
    display: grid;
    grid-template-columns: 33% 67%;
  }
  main .news .discount-2 .block_left {
    border-right: 1px solid var(--light-gray);
  }
  main .news .discount-2 .block_right {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 40px;
  }
  main .news .discount-2 .block_right .block_right-wrapper {
    max-width: 543px;
    padding: 88px 0 156px;
  }

  .news-article_intro {
    padding: 200px 160px 50px 160px;
  }
  .news-article_intro p {
    padding-bottom: 15px;
  }

  .news-article_main {
    display: grid;
    grid-template-columns: 33.3333333333% 66.6666666667%;
  }
  .news-article_main > div {
    border-bottom: 1px solid var(--light-gray);
  }
  .news-article_main > div:nth-child(2n) {
    border-left: 1px solid var(--light-gray);
  }

  .news_main-intro {
    padding: 88px 85px 186px 85px;
  }
  .news_main-intro p {
    max-width: 543px;
  }

  footer {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  header {
    border-bottom: 1px solid var(--light-gray);
  }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1266px;
    padding: 10px 10px;
    position: relative;
  }
  header .wrapper:last-child {
    padding: 20px 5px;
  }

  #header-location, .header-phone,
.header_nav-item a, .burger-button,
.header_button-set a, .header_button-set button,
.header-middle-list a, .header-logo {
    padding: 10px 5px;
    display: block;
  }

  #header-location, .header-phone, .burger-button {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  #header-location p, #header-location span, .header-phone p, .header-phone span, .burger-button p, .burger-button span {
    padding-top: 1px;
  }

  #header-location svg, .header-phone svg, .burger-button svg, .header_button-set svg {
    width: 15px;
    height: 15px;
  }

  .header_nav {
    max-width: 790px;
    width: 100%;
  }

  .header_nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header_button-set {
    display: flex;
    max-width: 155px;
    width: 100%;
    justify-content: space-between;
  }
  .header_button-set svg {
    display: block;
  }

  .header_middle {
    width: 100%;
    padding-left: 14px;
  }

  .header-middle_search {
    display: none;
  }

  .header-middle-list {
    display: flex;
    gap: 14px;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header-logo img {
    height: 32px;
    width: auto;
  }

  main .news .discount {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 50px 50px;
  }
  main .news .discount .sub-title {
    color: var(--light-gray);
    padding: 0 0 15px;
  }
  main .news .discount-2 {
    display: grid;
    grid-template-columns: 33% 67%;
  }
  main .news .discount-2 .block_left {
    border-right: 1px solid var(--light-gray);
  }
  main .news .discount-2 .block_right {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 40px;
  }
  main .news .discount-2 .block_right .block_right-wrapper {
    max-width: 543px;
    padding: 88px 0 156px;
  }

  .news-article_intro {
    padding: 142px 116px 35px 116px;
  }
  .news-article_intro p {
    padding-bottom: 11px;
  }

  .news-article_main {
    display: grid;
    grid-template-columns: 33.3333333333% 66.6666666667%;
  }
  .news-article_main > div {
    border-bottom: 1px solid var(--light-gray);
  }
  .news-article_main > div:nth-child(2n) {
    border-left: 1px solid var(--light-gray);
  }

  .news_main-intro {
    padding: 63px 63px 107px 63px;
  }
  .news_main-intro p {
    max-width: 393px;
  }
}
@media screen and (min-width: 525px) and (max-width: 1024px) {
  header {
    border-bottom: 1px solid var(--light-gray);
  }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1266px;
    padding: 10px 10px;
    position: relative;
  }
  header .wrapper:first-child {
    display: none;
  }
  header .wrapper:last-child {
    padding: 20px 5px;
  }
}
/*# sourceMappingURL=bundle.css.map */
