@media screen and (max-width: 525px) {
  header {
    border-bottom: 1px solid var(--light-gray);
  }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1266px;
    padding: 10px 10px;
    position: relative;
  }
  header .wrapper:first-child {
    display: none;
  }
  header .wrapper:last-child {
    padding: 20px 5px;
  }

  input[type=text], input[type=password], input[type=tel], input[type=email] {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .header-middle-list {
    display: none;
  }

  .burger-button p {
    display: none;
  }

  .header_button-set {
    display: flex;
  }
  .header_button-set a, .header_button-set button {
    display: none;
  }
  .header_button-set #search-open, .header_button-set #cart-open {
    display: block;
  }

  #search-open, #cart-open, #burger-open {
    padding: 10px;
  }
  #search-open svg, #cart-open svg, #burger-open svg {
    width: 15px;
    height: 15px;
    display: block;
  }

  .header_middle {
    width: 100%;
    padding-left: 14px;
  }

  .header-middle_search {
    display: none;
    position: relative;
    padding-right: 10px;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header-logo img {
    height: auto;
    width: 127px;
  }

  .header_search-bar {
    border-bottom: 1px solid var(--light-gray);
    padding: 7px 5px;
    color: var(--gray);
    font: var(--body-2);
  }

  #header_search-bar-close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  #header_search-bar-close svg {
    display: block;
    width: 20px;
    height: 20px;
  }
  #header_search-bar-close svg:hover path {
    fill: var(--gray);
  }

  .header-middle-list {
    display: none;
  }

  .search-block {
    background: white;
    border-bottom: 1px solid var(--light-gray);
    padding-top: 35px;
    padding-bottom: 57px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: auto;
  }
  .search-block h2 {
    margin-bottom: 20px;
  }
  .search-block .wrapper {
    max-width: 925px;
    padding: 0 55px;
  }
  .search-block li {
    margin-top: 10px;
  }

  .search-block__results {
    margin-bottom: 30px;
  }

  #authorization {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--header-height));
    bottom: 0;
    left: 0;
    display: none;
  }
  #authorization.active {
    display: block;
  }
  #authorization .wrapper {
    height: 100%;
    padding: 70px 15px;
    display: flex;
    justify-content: center;
    overflow: auto;
  }

  .authorization-container {
    max-width: 320px;
    width: 100%;
    height: fit-content;
    background: var(--white);
    padding: 40px 30px;
    padding-bottom: 40px;
    position: relative;
  }
  .authorization-container h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .authorization-container input[type=text] {
    margin-bottom: 37px;
  }
  .authorization-container form {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .authorization-container input[type=submit] {
    padding: 20px;
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
  }

  #authorization-close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
  }

  .password-input {
    position: relative;
  }

  .show-pass {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    padding-right: 0;
    display: block;
  }
  .show-pass svg {
    display: block;
  }
  .show-pass.active svg path {
    fill: var(--black);
  }

  .authorization__pass-forgot {
    text-align: right;
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 37px;
  }
}
/*# sourceMappingURL=mobile.css.map */
