@import "./utils/_variables.scss";
@import "./utils/_fonts.scss";
@import "./utils/_reset.scss";

html {
    background-image: url('/img/background.svg');
    height: 1200px;
}

.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}

hr{
    margin: 0;
    border: 0;
    border-bottom: 1px solid var(--light-gray);
}

.medium{
    font-weight: 500;
}

#header-location, .header-phone, 
.header_nav-item a,.burger-button,
.header_button-set a, .header_button-set button,
.header-middle-list a, .header-logo{
    &:hover, &:focus{
        color: var(--black);
        background: var(--light-gray);
        border-radius: 10px;

        p,span{
            color: var(--black);
        }
    }
}

#header-location, .header-phone{
    span{
        white-space: nowrap;
    }
}