@import "./utils/_reset.scss";
@import "./utils/_variables.scss";
@import "./utils/_media-variables.scss";
@import "./utils/_fonts.scss";

html {
  background-image: url('../img/bg.png');
}

header{
	z-index: 2;
	position: relative;
}

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

hr{
  margin: 0;
  border: 0;
  border-bottom: 1px solid var(--light-gray);
}

.scroll-block{
  overflow: hidden;
}

button, a, .carousel-btn,
.product-also__button{
	cursor: pointer;

	&:focus{
		outline-color: var(--black);
	}
}

.regular{
	font-weight: 400;
}

.medium{
  font-weight: 500;
}

.semi-bold{
  font-weight: 600;
}

span{
  color: inherit;
}

.header_nav-item a{
  &:hover{
    color: var(--black); 
  }
}

#header-location,
.header-phone{
  &:hover{
    span{
      color: var(--black);
    }

  }
}

.catalogue-open,.header-middle-list a {
  &:hover{
    color: var(--gray);
  }
}

.header_button-set>*{
  &:hover{
    svg path{
      fill: var(--gray);
    }
  }
}

.footer-nav-section a{
  &:hover{
    color: var(--light-gray);
  }
}

#header-location, .header-phone{
  span{
    white-space: nowrap;
  }
}

.header_middle.active{

  .header-middle_search {
    display: block;
  }

  .header-middle_default{
    display: none;
  }
}

.search-block{
  display: none;

  &.opened{
    display: block;
  }
}

#blur{
  background: var(--black);
  opacity: 0.9;
  backdrop-filter: blur(65px);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: none;

  &.active{
    display: block;
  }
}

input{
  &[type="text"],
  &[type="password"],
  &[type="tel"],
  &[type="email"]{
    width: 100%;
    bottom: 0;
    border: 0;
    background: 0;
    border-bottom: 1px solid var(--black);
    color: var(--gray);
    font:var(--body-1);

    &::placeholder{
      opacity: 1;
      color: var(--gray);
    }
  }
}

input[type="password"]{
  font-family: 'password';
  letter-spacing: 7px;
  font-size: 12px;

  &::placeholder{
    color: var(--black);
  }
}

.slider{
	.swiper{
		width: 100%;
		overflow: hidden;
		height: fit-content;
		height: -moz-fit-content;
	}
	
	.swiper-wrapper{
		height: fit-content;
		height: -moz-fit-content;
	}
	
	.swiper-slide{
		opacity: 0 !important;
		transition: .4s linear;
	
		&.swiper-slide-active{
			opacity: 1 !important;
		}
	}
	
	.swiper-slide{
		width: 100% !important;
	}
	
	.swiper-prev,
	.swiper-next{
		color: #ffffff;
	
		&:hover{
			color: var(--light-gray);
		}
	}
}

.button{
  background: var(--black);
  color: var(--white);
  border: 1px solid transparent;
  font: var(--h4);
  text-align: center;

  &:hover{
    color: var(--black);
    border-color: var(--black);
    background-color: var(--white);
  }

  &:active{
    color: var(--white);
    border-color: var(--light-gray);
    background-color: var(--light-gray);
  }
}

.arrow-button{
  background: var(--black);
  color: var(--white);
  
  span{
    color: inherit;
    background-color: inherit;
    border: 1px solid transparent;
    text-align: right;
    padding-right: 30px;
    position: relative;
    transition: .3s;
    font: inherit;

    &::after{
      content: "";
      background-image: url(../img/arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 16px;
      height: 14px;
      position: absolute;
      top: 50%;
      right: 5px;
      margin-top: 1px;;
      transform: translateY(-50%);
      transition: .3s;
    }
  }
  
  &.white{
    background: transparent;
    color: var(--black);
    span{
      &::after{
        content: "";
        background-image: url(../img/arrow-black.svg);
        width: 16px;
        height: 14px;  
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        transition: .3s;
      }
    }    
  }

  &.white-bg{
    background-color: var(--white);
  }

  &:hover{
    span::after{
      right: 0;
    }
  }
}

.button-white{  
  color: var(--black);
  background-color: var(--white);
  border: 1px solid transparent;
  font: var(--h4);
  text-align: center;

  &:hover{
    border-color: var(--black);
    background: var(--black);
    color: var(--white);
  }

  &:active{
    color: var(--white);
    border-color: var(--light-gray);
    background-color: var(--light-gray);
  }
}

#authorization, #cart, #favorites,#catalogue{
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--header-height));
  bottom: 0;
  left: 0;
  display: none;

  &.active{
    display: block;
  }

  .wrapper{
    height: 100%;
  }
}

.catalogue-open, #burger-open{
  svg{
    display: block;
  }

  svg:nth-of-type(2){
    display: none;
  }  
  
  &.active{
    svg:nth-of-type(1){
      display: none;
    }  

    svg:nth-of-type(2){
      display: block;
    }  
  }
}

#burger-open{
  display: none;
}

.catalogue__heading a{
  background-image: url("../img/bg.png");
}

.catalogue__main,.catalogue__footer{
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
}

.catalogue__main{
  padding: 100px 20px 150px 20px;
}

.catalogue__footer{
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 100px;
  padding-bottom: 70px;
  gap: 13px;

  a{
    display: block;
    display: flex;
    gap: 42px;
    justify-content: space-between;
    align-items: center;

    &:hover{
      color: var(--black);

      svg{
        path{
          fill: var(--black);
        }
      }
    }
  }

  ul{
    width: fit-content;
    width: -moz-fit-content;
  }
}

#burger{
  display: none;
}

svg{
  fill: currentColor;
}

.header_button-set{
  button, a{
    color: var(--black);
  }
}

.catalogue-open,
.header_button-set button{

  &:hover{
    color: var(--light-gray);
  }
}


.header-phone,
#header-location{
  &:hover{
    color: var(--black);
  }
}

#search-close-ico,
#eye,
#close-mark,
#bin
{
  fill:#C1C1C1
}


footer{
  border-top: 1px solid var(--gray);

  .wrapper{
    &:nth-of-type(1){
      max-width: 890px;
      display: flex;
      gap: 20px;
      padding: 50px 10px 40px 10px;
      justify-content: space-between;
    }

    &:nth-of-type(2){
      padding: 10px 57px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }

  h2{
    margin-bottom: 20px;
  }

  ul{
    max-width: 179px;
    width: 100%;
  }

  li{
    margin-bottom: 10px;

    &:last-child{
      margin-bottom: 0;
    }
  }  
}

.card{
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 50px;
    height: 100%;

    img{
      margin-top: auto;
      object-fit: contain;
      width: 320px;
      height: 320px;
    }

    h2{
      display: block;
      margin-top: auto;
      margin-right: auto;
    }
  } 
}

.breadcrumbs{
	border-bottom: 1px solid var(--light-gray);
	
	ul{
		display: flex;
		gap: 25px;
	}

	a{
		display: flex;
		gap: 25px;
	}

	li:last-child{
		a{
			margin-right: 0;
		}

		svg{
			display: none;
		}
	}
}

.catalogue-hero{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: max-content min-content;
}

.catalogue-card{
	padding: 75px 80px 50px 80px;

	img{
		width: 170px;
		height: 170px;
		object-fit: contain;
		display: block;
		margin: 0 auto;
		margin-bottom: 75px;
	}

	h2{
		padding-bottom: 25px;
		
	}

	ul{
		border-top: 1px solid var(--light-gray);
		padding-top: 30px;

		li{
			margin-bottom: 12px;
		}

		&.foldedList{
			margin-bottom: 12px;
		}
	}
}

.catlogue-more{
	display: none;
}

button {
	border-style: none;
}

.accordion-trigger {
	width: 100%;
}

.accordion-title {
	pointer-events: none;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	gap: 20px;
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
	transform: rotate(-180deg);
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.accordion-panel[hidden] {
	display: none;
}

.catalogue__filter-group{
	
	button{
		display: block;
		margin-left: auto;
	}

	input{
		display: none;
	}

	input:checked + label{

		&:not(.box-label, .color-selection-label){
			&::before{
				display: block;
			}
		}

		&.color-selection-label{
			&::after{
				display: block;
			}

			&::before{
				display: block;
			}
		}

		&.box-label{
			background: var(--gray);
			border-color: var(--gray);
			color: var(--white);
		}
	}

	label{
		display: flex;
		width: 100%;
		cursor: pointer;

		span:last-child{
			display: block;
			width: fit-content;
			width: -moz-fit-content;
			margin-left: auto;
		}

		&.color-selection-label{
			&::after{
				display: none;
			}

			.filter-color{
				margin-right: 20px;
				margin-top: 2px;
			}
		}
	}

	label:not(.box-label, .color-selection-label),
	label.color-selection-label{
		position: relative;

		&::after{
			content: "";
			position: absolute;
			border: 1px solid var(--gray);
			box-sizing: border-box;
		}

		&::before{
			content: "";
			position: absolute;
			background: var(--black);
			box-sizing: border-box;
			display: none;
		}
	}
}

.box-selection-container{
	display: flex;
	flex-wrap: wrap;
}

.box-label{
	font-display: auto;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--gray);
	color: var(--black);
}

.filter__range-slider{
	height: 1px;
	background: var(--light-gray);
}

.products-filter-price-slider{
	position: relative;
	width: 100%;
}

.ui-widget-header{
	position: absolute;
	height: 1px;
	top: 0;
	width: 80%;
	background: var(--black);
}

.ui-state-default{
	position: absolute;
	height: 15px;
	width: 15px;
	top: -7px;
	border-radius: 50%;
	background: var(--black);
	cursor: pointer;
}

.products-filter-price-slider-value{
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}

.catalogue-content__more{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 42px;
	border-top: 1px solid var(--light-gray);

	svg{
		transform: rotate(90deg);
	}

	span{
		padding: 0;
		display: flex;
		align-items: center;
		gap: 15px;

		&:after{
			display: none;
		}
	}
}

.catalogue-content__open-filter,
.catalogue-filters__close{
	display: none;
}

.catalogue-card-big,
.catalogue-card-big__info{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.catalogue-card-big__info>div{
	margin-top: auto;
}

.is-sale{
	span:first-child{
		color: var(--light-gray);
		padding: 0 10px;
		margin-right: 10px;
		position: relative;

		&::after{
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			height: 1px;
			width: 100%;
			background: var(--light-gray);
		}
	}
}	

.product__title-mobile{
	display: none;
}

.product-carousel{
	z-index: 0;
}

.facade-main__item{

	&.has-bg{
		background-size: cover;

		a,p,h2{
			color: var(--white);
		}

		a span::after{
			background-image: url(../img/arrow.svg);
		}
	}
}

@media screen and (max-width: $laptop+1) {
	.card{
		a{
			padding: 25px 35px;
			img{
				width: 230px;
				height: 230px;
			}
		}
	}	
}

@media screen and (max-width: $tablet) {
  #burger{
    background-image: url(../img/bg.png);
    max-width: 360px;
    width: 100%;
    border-right: 1px solid var(--light-gray);
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;

    button, a{
      color: var(--gray);

      &:hover{
        color: var(--black);
      }
    }

    &.active{
      display: block;
    }

    .catalogue-open{
      display: block;
    }

    height: calc(100vh - var(--header-height));
    overflow: auto;
  }

  .catalogue-open{
    padding: 17px 29px;
    border-bottom: 1px solid var(--light-gray);
    display: block;
    width: 100%;
    text-align: left;
  }

  .burger-content{
    padding-left: 22px;
    padding-right: 38px;

    ul{
      padding: 20px 7px;
      border-bottom: 1px solid var(--light-gray);
      display: flex;
      flex-direction: column;
      gap: 10px;

      &:last-child{
        border: 0;
      }

      a:hover{
        color: var(--black);
      }
    }
  }

  .arrow-button{
  
    &.white{
  
      &::after{
        width: 13px;
        height: 14px;  
      }
    }
  
    &::after{
      width: 13px;
      height: 14px;  
    }
  }
}


