// laptop 
@media screen and (min-width: 1024px) and (max-width: 1366px){
    header{
        border-bottom: 1px solid var(--light-gray);

        .wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1266px;
            padding: 10px 10px;
            position: relative;

            &:last-child{
                padding: 20px 5px;
            }
        }
    }

    #header-location, .header-phone, 
    .header_nav-item a,.burger-button,
    .header_button-set a, .header_button-set button,
    .header-middle-list a, .header-logo{
        padding: 10px 5px;
        display: block;
    }

    #header-location, .header-phone, .burger-button{
        display: flex;
        align-items: center;
        gap: 6px;

        p, span{
            padding-top: 1px;
        }
    }

    #header-location, .header-phone, .burger-button,.header_button-set{
        svg{
            width: 15px;
            height: 15px;
        }
    }

    .header_nav{
        max-width: 790px;
        width: 100%;
    }

    .header_nav-list{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header_button-set{
        display: flex;
        max-width: 155px;
        width: 100%;
        justify-content: space-between;

        svg{
            display: block;
        }
    }

    .header_middle{
        width: 100%;
        padding-left: 14px;
    }

    .header-middle_search{
        display: none;
    }

    .header-middle-list{
        display: flex;
        gap: 14px;
    }

    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        img{
            height: 32px;
            width: auto;
        }
    }

    main {
        .news {
            .discount {
                max-width: 1600px;
                margin: 0 auto;
                padding: 200px 50px 50px;

                .sub-title {
                    color: var(--light-gray);
                    padding: 0 0 15px;
                }
            }

            .discount-2 {
                display: grid;
                grid-template-columns: 33% 67%;

                .block_left {
                    border-right: 1px solid var(--light-gray);
                }

                .block_right {
                    width: 100%;
                    max-width: 1050px;
                    margin: 0 auto;
                    padding: 0 40px;

                    .block_right-wrapper {
                        max-width: 543px;
                        padding: 88px 0 156px;
                    }
                }
            }
        }
    }

    .news-article_intro{
        padding: 142px 116px 35px 116px;

        p{
            padding-bottom: 11px;
        }
    }

    .news-article_main{
        display: grid;
        grid-template-columns: calc(640% * 100 / 1920) calc(1280% * 100 / 1920);

        &>div{
            border-bottom: 1px solid var(--light-gray);

            &:nth-child(2n){
                border-left: 1px solid var(--light-gray);
            }
        }
    }

    .news_main-intro{
        padding: 63px 63px 107px 63px;

        p{
            max-width: 393px;
        }
    }

}