@import "./utils/_media-variables.scss";

// tablet
@media screen and (min-width: $mobile) and (max-width: $tablet) {
    header{
        border-bottom: 1px solid var(--light-gray);

        .wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1266px;
            padding: 10px 10px;
            position: relative;

            &:first-child{
                display: none;
            }

            &:last-child{
                padding: 20px 5px;
            }
        }
    }

    input{
        &[type="text"],
        &[type="password"],
        &[type="tel"],
        &[type="email"]{
            padding-top: 7px;
            padding-bottom: 7px;
        } 
    }

    .header-middle-list{
        display: none;
    }

    .burger-button{
        p{
            display: none;
        }
    }

    .header_button-set{
        display: flex;
        gap: 4px;

        a, button{
            display: none;
        }

        & #search-open,& #cart-open{
            display: block;
        }
    }

    #search-open, #cart-open, #burger-open{
        padding: 10px;

        svg{
            width: 18px;
            height: 18px;
            display: block;
        }
    }

    .header_middle{
        width: 100%;
        padding-left: 14px;
    }

    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        img{
            height: auto;
            width: 159px;
        }
    }

    .header-middle_search{
        display: none;
        position: relative;
        padding-right: 20px;
    }

    .header-middle-list{
        display: flex;
        gap: 14px;
    }

    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        img{
            height: 32px;
            width: auto;
        }
    }

    input.header_search-bar{
        border-bottom: 1px solid var(--light-gray);
        padding:7px 5px;
        color: var(--gray);
        font:var(--body-2);
        
    }

    #header_search-bar-close{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        
        svg{
            display: block;
            width: 20px;
            height: 20px;

            &:hover{
                path{
                    fill: var(--gray);
                }
            }
        }
    }

    .header-middle-list{
        display: none;
    }

    .search-block{
        background: white;
        border-bottom: 1px solid var(--light-gray);
        padding-top: 35px;
        padding-bottom: 57px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100vh - var(--header-height));
        overflow: auto;

        h2{
            margin-bottom: 20px;
        }

        .wrapper{
            max-width: 925px;
            padding: 0 58px;
        }

        li{
            margin-top: 10px;
        }
    }

    .search-block__results{
        margin-bottom: 30px;
    }

    // Auth
    #authorization{
        position: absolute;
        width: 100%;
        height: calc(100vh - var(--header-height));
        bottom: 0;
        left: 0;
        display: none;

        &.active{
            display: block;
        }

        .wrapper{
            height: 100%;
            padding: 70px 20px;
            display: flex;
            justify-content: center;
            overflow: auto;
        }
    }

    .authorization-container{
        max-width: 560px;
        width: 100%;
        height: fit-content;
        background: var(--white);
        padding: 80px;
        padding-bottom: 100px;
        position: relative;

        h2{
            text-align: center;
            margin-bottom: 60px;
        }

        input[type="text"]{
            margin-bottom: 37px;
        }

        form{
            display: flex;
            flex-direction: column;
            height: fit-content;
        }

        input[type="submit"]{
            padding: 20px;
            max-width: 270px;
            width: 100%;
            margin: 0 auto;
        }
    }

    #authorization-close{
        position: absolute;
        right: 20px;
        top: 25px;
        padding: 5px;
    }

    .password-input{
        position: relative;
    }

    .show-pass{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 5px;
        padding-right: 0;
        display: block;

        svg{
            display: block;
        }

        &.active{
            svg{
                path{
                    fill: var(--black);
                }
            }
        }
    }

    .authorization__pass-forgot{
        text-align: right;
        display: inline-block;
        margin-top: 13px;
        margin-bottom: 37px;
    }
}