.catalog {

    .block_top {
        display: grid; 
        grid-template-columns: 40% 60%; 
        border-bottom: 1px solid var(--secondary-light-gray);

        .block_left {
            display: contents;
        }

        .block_right {
            display: flex;
            justify-content: center;
            
            .title {
                max-width: 160px;
                padding: 111px 0 0 0;
            }
        }
    }

    .block_bottom {
        display: grid; 
        grid-template-columns: 75% 25%; 

        .block_left {
            display: flex;
            justify-content: center;
            border-right: 1px solid var(--secondary-light-gray);

            .sub-title  {
                padding: 34px 10px 135px 10px;
                max-width: 226px;
            }
        }
    }
}