<div class="catalogue-card-big">
	<div class="catalogue-card-big__main">
		<img loading="lazy" decoding="async" src="@@imgsrc" width="300" height="300" alt="Ручка-кнопка">
		@@if (context.label) {
		<div class="catalogue-card-big__flash black h3 semi-bold">@@label</div>
		}
		<div class="catalogue-card-big__price black h3 semi-bold 
		@@if (context.issale) {is-sale}
		">
			<span>@@price $</span>
			@@if (context.saleprice) {
				<span>@@saleprice $</span>	
			}
			
		</div>
	</div>
	<div class="catalogue-card-big__info">
		<h2>
			<a class="h4 black" href="./product.html">
				@@title
			</a>
		</h2>
		<div>
			<button class="h6 white black-bg"><span>Add to cart</span></button>
			<button>
				<svg width="25" height="25" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#heart"></use>
				</svg>
			</button>
		</div>		
	</div>
</div>