<div class="catalogue-card-big">
	<div class="catalogue-card-big__main">
		<img loading="lazy" decoding="async" src="./img/catalogue-main-1.png" width="300" height="300" alt="Ручка-кнопка">
		<div class="catalogue-card-big__flash black h3 semi-bold">SALE</div>
		<div class="catalogue-card-big__price black h3 semi-bold is-sale">
			<span>290 ₽</span>
			<span>190 ₽</span>
		</div>
	</div>
	<div class="catalogue-card-big__info">
		<h2 class="h4 black">@@title</h2>
		<div>
			<button class="h6 white black-bg"><span>В корзину</span></button>
			<button>
				<svg width="25" height="25" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#heart"></use>
				</svg>
			</button>
		</div>		
	</div>
</div>