<form action="POST" class="facade-form">
	<fieldset>
		<div class="inputgroup">
			<label for="facade-name" class="body-1">
				Ваше имя *
				<input type="text" name="facade-name" id="facade-name" required placeholder="Иван">
			</label>
			<label for="facade-email" class="body-1">
				Email *
				<input type="email" name="facade-email" id="facade-email" required placeholder="example@example.ru">
			</label>
		</div>
		<label for="facade-message" class="body-1">
			Ваш вопрос *
			<input type="text" name="facade-message" id="facade-message">
		</label>

		<div class="facade-form__file">
			<label for="facade-file" class="facade-form__file-button">
				<svg width="24" height="24">
					<use xlink:href="#attach"></use>
				</svg>  
				<span class="black body-1">Прикрепить файл</span>
				<input type="file" name="facade-file" id="facade-file">
			</label>
			<div class="facade-form__file-attachments">
				<p class="body-1 gray">
					example.jpg (93 КБ)
				</p>
			</div>
		</div>
		
	</fieldset>
	<button class="arrow-button h4 white">
		<span>
			<span>Отправить</span>
		</span>		
	</button>
</form>