<footer class="black-bg white">
    <div class="wrapper">
        <div class="footer-nav-section">
            <h2 class="body-2 semi-bold">Каталог</h2>
            <ul>
                <li><a href="#" class="body-3 white">Ручки мебельные</a></li>
                <li><a href="#" class="body-3 white">Фасады мебельные</a></li>
                <li><a href="#" class="body-3 white">Новинки</a></li>
                <li><a href="#" class="body-3 white">Распродажа</a></li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <h2 class="body-2 semi-bold">Покупателю</h2>
            <ul>
                <li><a href="#" class="body-3 white">Доставка</a></li>
                <li><a href="#" class="body-3 white">Возврат / обмен</a></li>
                <li><a href="#" class="body-3 white">Гарантии</a></li>
                <li><a href="#" class="body-3 white">Договор оферты</a></li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <h2 class="body-2 semi-bold">Компания</h2>
            <ul>
                <li><a href="#" class="body-3 white">О нас</a></li>
                <li><a href="#" class="body-3 white">Парнеры</a></li>
                <li><a href="#" class="body-3 white">Новости</a></li>
                <li><a href="#" class="body-3 white">Дипломы / сертификаты</a></li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <h2 class="body-2 semi-bold">Мы принимаем</h2>
            <ul>
                <li><a href="#" class="body-3 white">Mastercard</a></li>
                <li><a href="#" class="body-3 white">Visa</a></li>
                <li><a href="#" class="body-3 white">JСВ</a></li>
                <li><a href="#" class="body-3 white">МИР</a></li>
            </ul>
        </div>

        <div class="footer-nav-section">
            <h2 class="body-2 semi-bold">Социальные сети</h2>
            <ul>
                <li><a href="#" class="body-3 white">Instagram</a></li>
                <li><a href="#" class="body-3 white">Вконтакте</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="wrapper">
        <p class="body-3 gray">2011-2020 © РОССО - комплектующие и фурнитура для мебели высокого качества.</p>
        <p class="body-3 gray">Политика конфиденциальности</p>
    </div>
</footer>