<footer class="black-bg white">
  <div class="wrapper">
    <div class="footer-nav-section">
      <h2 class="body-2 semi-bold white white">Catalogue</h2>
      <ul>
        <li><a href="./catalogue.html" class="body-3 white">Furniture handles</a></li>
        <li><a href="./catalogue.html" class="body-3 white">Furniture facades</a></li>
        <li><a href="./catalogue-new.html" class="body-3 white">New items</a></li>
        <li><a href="./catalogue-sales.html" class="body-3 white">Sale</a></li>
      </ul>
    </div>

    <div class="footer-nav-section">
      <h2 class="body-2 semi-bold white white">For buyer</h2>
      <ul>
        <li><a href="#" class="body-3 white">Delivey</a></li>
        <li><a href="#" class="body-3 white">Return / Exchange</a></li>
        <li><a href="#" class="body-3 white">Guarantee</a></li>
        <li><a href="#" class="body-3 white">Contract offer</a></li>
      </ul>
    </div>

    <div class="footer-nav-section">
      <h2 class="body-2 semi-bold white white">Our company</h2>
      <ul>
        <li><a href="./about-us.html" class="body-3 white">About us</a></li>
        <li><a href="#" class="body-3 white">Our partners</a></li>
        <li><a href="#" class="body-3 white">News</a></li>
        <li><a href="#" class="body-3 white">Diplomas / certificates</a></li>
      </ul>
    </div>

    <div class="footer-nav-section">
      <h2 class="body-2 semi-bold white">Payment systems we use</h2>
      <ul>
        <li><a href="#" class="body-3 white">Mastercard</a></li>
        <li><a href="#" class="body-3 white">Visa</a></li>
        <li><a href="#" class="body-3 white">American Express</a></li>
      </ul>
    </div>

    <div class="footer-nav-section">
      <h2 class="body-2 semi-bold white">Socials</h2>
      <ul>
        <li><a href="#" class="body-3 white">Instagram</a></li>
        <li><a href="#" class="body-3 white">Facebook</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="wrapper">
    <p class="body-3 gray">2011-2022 © РОССО - components and accessories for high quality furniture.</p>
    <a href="./404.html" class="body-3 gray">Privacy Policy</a>
  </div>
</footer>