<header>
    <div class="wrapper">
        <button id="header-location">
            <svg width="24" height="24"><use xlink:href="#location-ico"></use></svg>                
            <span class="body-2 gray">Санкт-Петербург</span>
        </button>

        <nav class="header_nav">
            <ul class="header_nav-list">
                <li class="header_nav-item"><a href="#" class="body-2 gray">О компании</a></li>
                <li class="header_nav-item"><a href="#" class="body-2 gray">Бренды</a></li>
                <li class="header_nav-item"><a href="#" class="body-2 gray">Доставка и оплата</a></li>
                <li class="header_nav-item"><a href="#" class="body-2 gray">Гарантии</a></li>
                <li class="header_nav-item"><a href="#" class="body-2 gray">Обмен / возврат</a></li>
                <li class="header_nav-item"><a href="#" class="body-2 gray">Новости</a></li>
                <li class="header_nav-item"><a href="#" class="body-2 gray">Статьи</a></li>
                <li class="header_nav-item"><a href="#" class="body-2 gray">Контакты</a></li>
            </ul>
        </nav>

        <a href="tel:+74955067832" class="header-phone">
            <svg width="24" height="24"><use xlink:href="#phone-ico"></use></svg>        
            <span class="body-2 gray">+7(495) 506-78-32</span>
        </a>
    </div>
    <hr>
    <div class="wrapper">
        <button id="burger-open" data-popupTrigger="#burger">
            <svg width="24" height="24"><use xlink:href="#burger-svg"></use></svg>

            <svg width="24" height="24">
                <use xlink:href="#burger-close-svg"></use>
            </svg>                                
        </button>
        
        <button class="catalogue-open" data-popupTrigger="#catalogue">
            <svg width="24" height="24"><use xlink:href="#burger-svg"></use></svg>
            <svg width="24" height="24"><use xlink:href="#burger-close-svg"></use></svg>                                
            <span class="body-2 black medium">Каталог</span>
        </button>

        <div class="header_middle" data-popup>
            <div class="header-middle_default">
                <ul class="header-middle-list">
                    <li><a href="#" class="body-2 black">Новинки</a></li>
                    <li><a href="#" class="body-2 black">Распродажа</a></li>
                </ul>

                <a href="/" class="header-logo"><img src="./img/logo.svg" alt="to main page" class="logo"></a>
            </div>

            <div class="header-middle_search">
                <input type="text" name="" id="search-bar" class="header_search-bar" placeholder="Поиск товаров">
                <button id="header_search-bar-close" data-popupCloseTrigger>
                    <svg width="24" height="24"><use xlink:href="#search-close-ico"></use></svg>                     
                </button>
            </div>
        </div>
    
        <ul class="header_button-set">
            <li>
                <button id="search-open" data-popupTrigger=".header_middle">
                    <svg alt="open search" width="24" height="24"><use xlink:href="#open-search-ico"></use></svg>                       
                </button>
            </li>

            <li>
                <button class="authorization-open" data-popupTrigger="#authorization">
                    <svg alt="authorization" width="24" height="24"><use xlink:href="#auth-open-ico"></use></svg>                       
                </button>
            </li>

            <li>
                <button class="favorites-open" data-popupTrigger="#favorites">                    
                    <svg alt="open favorites sidebar" width="24" height="24"><use xlink:href="#favorites-open-ico"></use></svg>                                           
                </button>
            </li>

            <li>
                <button id="cart-open" data-popupTrigger="#cart">
                    <svg alt="open cart sidebar" width="24" height="24"><use xlink:href="#cart-open-ico"></use></svg>                                           
                </button>
            </li>
        </ul>
    </div>
</header>