<div id="blur"></div>

<div class="search-block" id="search-block" data-popup>
  <div class="wrapper">
  <div class="search-block__results">
    <h2 class="body-2 light-gray">Search results</h2>
    <ul>
    <li class=""><a href="#" class="body-2 black">Furniture handles</a></li>
    <li class=""><a href="#" class="body-2 black">Kitchen facades</a></li>
    <li class=""><a href="#" class="body-2 black">Facade mechanisms</a></li>
    </ul>
  </div>
  <div class="search-block__recently">
    <h2 class="body-2 light-gray">Popular searches</h2>
    <ul>
    <li class=""><a href="#" class="body-2 black">Drawer systems for the kitchen</a></li>
    <li class=""><a href="#" class="body-2 black">Furniture recessed luminaires</a></li>
    <li class=""><a href="#" class="body-2 black">Furniture hinges</a></li>
    </ul>
  </div>
  </div>
</div>

<div class="regions-block" id="regions-list" data-popup>
  <div class="wrapper">
		@@include("./regions-list.html")
	</div>
</div>

<div id="authorization" data-popup>
  <div class="wrapper">
  <div class="authorization-container">
    <h2 class="h4 black">Supplier access</h2>
    <form action="POST">
    <label for="fname" class="body-1 black">Login</label>
    <input type="text" id="fname" name="fname" placeholder="example.ee">
    <label for="lname" class="body-1 black">Password</label>
    <fieldset class="password-input">
      <input type="password" id="lname" name="lname" placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;">
      <button class="show-pass">
      <svg width="22" height="15" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#eye"></use>
      </svg>        
      </button>
    </fieldset>  
    <a href="#" class="authorization__pass-forgot body-2 light-gray">Forgot your password?</a>
    <input type="submit" value="Sign in" class="button">    
    </form> 
    
    <button id="authorization-close" data-popupCloseTrigger>
    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#close-mark"></use>
    </svg>
    </button>
  </div>
  </div>
</div>

<div id="cart" data-popup>
  <div class="wrapper">
  <div class="cart-block">
    <div class="cart-main">
    <div class="cart-header">
      <h2 class="h3 black">Cart</h2>
      <button id="cart-close" data-popupCloseTrigger>
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#close-mark"></use>
      </svg>
      </button>
    </div>

    <div class="cart-lineitem">
      <div class="cart-item">
      <div class="cart-item__main">
        <img loading="lazy" decoding="async" src="./img/cart-item-1.webp" alt="Push bar Verona 11.4149.12, black, 160/177, Metakor" class="cart-item__thumb">
        <div class="cart-item__header">
        <p class="body-1 light-gray">5а640</p>
        <button class="cart-item-remove">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#bin"></use>
          </svg>          
        </button>
        </div>
        <h2>
        <a href="#" class="body-2 black">
          Push bar Verona 11.4149.12, black, 160/177, Metakor
        </a>
        </h2>        
      </div>
      <div class="cart-item__footer">
        <div class="cart-item__amount">
        <h3 class="body-2 black">Quantity:</h3>
        <select name="amount" class="h4">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        </div>
        <p class="cart-item__price h3 black">23,67 $</p>
      </div>
      </div>
    </div>

    <div class="cart-summary">
      <h3 class="body-1 black">Summary:</h3>
      <p class="h3 black">23,67 $</p>
    </div>


    </div>
    <div class="cart-footer">
    <button class="button-white">Continue shopping</button>
    <a href="#" class="button">Checkout</a>
    </div>
    <!-- <div class="cart-empty-footer">
    <a href="#" class="button">Перейти в покупкам</a>
    </div> -->
  </div>
  </div>
</div>

<div id="favorites" data-popup>
  <div class="wrapper">
  <div class="favorites-block">
    <div class="favorites-main">
    <div class="favorites-header">
      <h2 class="h3 black">Favorites</h2>
      <button id="favorites-close" data-popupCloseTrigger>
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#close-mark"></use>
      </svg>
      </button>
    </div>

    <div class="favorites-lineitem">
      <div class="favorites-item">
        <div class="cart-item__main">
          <img loading="lazy" decoding="async" src="./img/cart-item-1.webp" alt="Push bar Verona 11.4149.12, black, 160/177, Metakor" class="cart-item__thumb">
          <div class="cart-item__header">
          <p class="body-1 light-gray">5а640</p>
          <button class="cart-item-remove">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#bin"></use>
            </svg>          
          </button>
          </div>
          <h2>
          <a href="#" class="body-2 black">
            Push bar Verona 11.4149.12, black, 160/177, Metakor
          </a>
          </h2>        
        </div>
      </div>
      <div class="favorites-item__footer">
        <div class="favorites-item__amount">
        <h3 class="body-2 black">Quantity:</h3>
        <select name="amount">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        </div>
        <p class="favorites-item__price h3 black">23,67 $</p>
      </div>
      </div>
    </div>
    <div class="favorites-footer">
      <button class="button">Add all items to cart</button>
    </div>
    </div>
    
  </div>
  </div>
</div>

<div id="catalogue" data-popup>
  <div class="wrapper">
  <div class="catalogue__heading">
    <a href="#" class="h3 black">Furniture Handle</a>
    <a href="#" class="h3 black">Furniture Panels</a>
  </div>
  <div class="catalogue__main">
    <ul>
    <li class="catalogue-item">
      <img loading="lazy" decoding="async" width="60" height="50" src="./img/catalogue-1.webp" alt="Retractable systems and filling for kitchen" class="catalogue-item__thumb">
      <div class="catalogue-item__content">
				<h2>
					<a href="#" class="sub-title-1 black">Retractable systems and filling for kitchen</a>
				</h2>

				<div 
					data-foldedContainer
					data-foldedAmount="3" 
					data-foldedButtonText="Show all"
					data-foldedButtonClass = "body-2 gray"
				>
					<ul data-foldedList>
						<li><a href="#" class="body-2 black">Baskets in lower modules</a></li>
						<li><a href="#" class="body-2 black">Baskets in top modules</a></li>
						<li><a href="#" class="body-2 black">Kitchen baskets</a></li>
						<li><a href="#" class="body-2 black">Carousels</a></li>
						<li><a href="#" class="body-2 black">Cutlery Trays</a></li>
					</ul>
				</div>			
      </div>
    </li>

    <li class="catalogue-item">
      <img loading="lazy" decoding="async" width="60" height="50" src="./img/catalogue-2.webp" alt="Furniture lamps" class="catalogue-item__thumb">
      <div class="catalogue-item__content">
				<h2>
					<a href="#" class="sub-title-1 black">Furniture lamps</a>
				</h2>

				<div 
					data-foldedContainer
					data-foldedAmount="3" 
					data-foldedButtonText="Show all"
					data-foldedButtonClass = "body-2 gray"
				>
					<ul data-foldedList>
						<li><a href="#" class="body-2 black">LED lighting</a></li>
						<li><a href="#" class="body-2 black">Halogen spots</a></li>
						<li><a href="#" class="body-2 black">Profile lamps and LED tape</a></li>
						<li><a href="#" class="body-2 black">Door sensors</a></li>
						<li><a href="#" class="body-2 black">USB sockets</a></li>
					</ul>
				</div>			
      </div>
    </li>

    <li class="catalogue-item">
      <img loading="lazy" decoding="async" width="60" height="50" src="./img/catalogue-3.webp" alt="Profile for CADRO profile frame structures" class="catalogue-item__thumb">
      <div class="catalogue-item__content">
				<h2>
					<a href="#" class="sub-title-1 black">Profile for CADRO profile frame structures
          </a>
				</h2>

				<div 
					data-foldedContainer
					data-foldedAmount="3" 
					data-foldedButtonText="Show all"
					data-foldedButtonClass = "body-2 gray"
				>
					<ul data-foldedList>
						<li><a href="#" class="body-2 black">CADRO profiles</a></li>
						<li><a href="#" class="body-2 black">Accessories for CADRO frame system</a></li>
					</ul>
				</div>			
      </div>
    </li>

    <li class="catalogue-item">
      <img loading="lazy" decoding="async" width="60" height="50" src="./img/catalogue-4.webp" alt="Lifting mechanisms for facades" class="catalogue-item__thumb">
      <div class="catalogue-item__content">
				<h2>
					<a href="#" class="sub-title-1 black">Lifting mechanisms for facades</a>
				</h2>

				<div 
					data-foldedContainer
					data-foldedAmount="3" 
					data-foldedButtonText="Show all"
					data-foldedButtonClass = "body-2 gray"
				>
					<ul data-foldedList>
						<li><a href="#" class="body-2 black">Wind Salice mechanism</a></li>
						<li><a href="#" class="body-2 black">Vertical open systems</a></li>
						<li><a href="#" class="body-2 black">Facade gaslifts</a></li>
					</ul>
				</div>			
      </div>
    </li>

    <li class="catalogue-item">
      <img loading="lazy" decoding="async" width="60" height="50" src="./img/catalogue-5.webp" alt="Furniture hinges" class="catalogue-item__thumb">
      <div class="catalogue-item__content">
				<h2>
					<a href="#" class="sub-title-1 black">Furniture hinges</a>
				</h2>

				<div 
					data-foldedContainer
					data-foldedAmount="3" 
					data-foldedButtonText="Show all"
					data-foldedButtonClass = "body-2 gray"
				>
					<ul data-foldedList>
						<li><a href="#" class="body-2 black">Furniture hinges Slide-On</a></li>
						<li><a href="#" class="body-2 black">Hinges with closer</a></li>
						<li><a href="#" class="body-2 black">Special hinges</a></li>
					</ul>
				</div>			
      </div>
    </li>

    <li class="catalogue-item">
      <img loading="lazy" decoding="async" width="60" height="50" src="./img/catalogue-6.webp" alt="Transformation mechanisms, gas lifts" class="catalogue-item__thumb">
      <div class="catalogue-item__content">
				<h2>
					<a href="#" class="sub-title-1 black">Transformation mechanisms, gas lifts</a>
				</h2>

				<div 
					data-foldedContainer
					data-foldedAmount="3" 
					data-foldedButtonText="Show all"
					data-foldedButtonClass = "body-2 gray"
				>
					<ul data-foldedList>
						<li><a href="#" class="body-2 black">Closet-bed mechanisms Transformica</a></li>
						<li><a href="#" class="body-2 black">Closet-bed mechanisms</a></li>
						<li><a href="#" class="body-2 black">Bed base lifting mechanisms</a></li>
						<li><a href="#" class="body-2 black">Mechanism for upholstered furniture</a></li>
						<li><a href="#" class="body-2 black">Table transformation mechanism</a></li>
						<li><a href="#" class="body-2 black">Furniture gas lifts</a></li>
						<li><a href="#" class="body-2 black">Gas lifts for beds</a></li>
					</ul>
				</div>			
      </div>
    </li>

    <li class="catalogue-item">
      <img loading="lazy" decoding="async" width="60" height="50" src="./img/catalogue-7.webp" alt="Drawers" class="catalogue-item__thumb">
      <div class="catalogue-item__content">
				<h2>
					<a href="#" class="sub-title-1 black">Drawers</a>
				</h2>

				<div 
					data-foldedContainer
					data-foldedAmount="3" 
					data-foldedButtonText="Show all"
					data-foldedButtonClass = "body-2 gray"
				>
					<ul data-foldedList>
						<li><a href="#" class="body-2 black">Drawers with drawers</a></li>
						<li><a href="#" class="body-2 black">Drawer accessories</a></li>
						<li><a href="#" class="body-2 black">Metalboxes and railings</a></li>
					</ul>
				</div>			
      </div>
    </li>

    </ul>
  </div>
  <div class="catalogue__footer">
    <ul>
    <li>
      <a href="#" class="body-2 gray">Pocco Catalogue 2022 
      <span>
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#download-arrow"></use>
        </svg>      
      </span>
      </a>
    </li>
    <li>
      <a href="#" class="body-2 gray">Handle catalogue 
      <span>
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#download-arrow"></use>
        </svg>      
      </span>
      </a>
    </li>
    <li>
      <a href="#" class="body-2 gray">“Black philosophy” catalogue 
      <span>
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#download-arrow"></use>
        </svg>      
      </span>
      </a>
    </li>
    </ul>   
    
    
  </div>
  </div>
</div>

<nav id="burger" data-popup>
  <button class="catalogue-open body-4 gray" data-popupTrigger="#catalogue" data-customOpenFunction = "createCatalogueClosebtn">
  Catalogue
  </button>
  <div class="burger-content">
  <ul>
    <li><a href="#" class="body-4 gray">New items</a></li>
    <li><a href="#" class="body-4 gray">Sale</a></li>
  </ul>
  <ul>
    <li><a href="#" class="body-4 gray">About us</a></li>
    <li><a href="#" class="body-4 gray">Brand list</a></li>
    <li><a href="#" class="body-4 gray">Delivery&Payment</a></li>
    <li><a href="#" class="body-4 gray">Guarentees</a></li>
    <li><a href="#" class="body-4 gray">Exchange / return</a></li>
    <li><a href="#" class="body-4 gray">News</a></li>
    <li><a href="#" class="body-4 gray">Articles</a></li>
    <li><a href="#" class="body-4 gray">Contacts</a></li>
  </ul>
  <ul>
    <li><button class="body-4 gray" data-popupTrigger="#favorites">Favorites</button></li>
    <li><button class="body-4 gray" data-popupTrigger="#authorization">Supplier access</button></li>
  </ul>
  </div>
</nav>