<div class="search-block">
    <div class="wrapper">
        <div class="search-block__results">
            <h2 class="body-2 light-gray">Результаты поиска</h2>
            <ul>
                <li class=""><a href="#" class="body-2 black">Ручки мебельные</a></li>
                <li class=""><a href="#" class="body-2 black">Фасады кухонные</a></li>
                <li class=""><a href="#" class="body-2 black">Механизмы для фасадов</a></li>
            </ul>
        </div>
        <div class="search-block__recently">
            <h2 class="body-2 light-gray">Популярные поисковые запросы</h2>
            <ul>
                <li class=""><a href="#" class="body-2 black">Ручки мебельные</a></li>
                <li class=""><a href="#" class="body-2 black">Фасады кухонные</a></li>
                <li class=""><a href="#" class="body-2 black">Механизмы для фасадов</a></li>
            </ul>
        </div>
    </div>
</div>