<div class="regions__container">
	<ul>
		<li><a href="#" class="body-1">Alabama</a></li>
		<li><a href="#" class="body-1">Alaska</a></li>
		<li><a href="#" class="body-1">Arizona</a></li>
		<li><a href="#" class="body-1">Arkansas</a></li>
		<li><a href="#" class="body-1">California</a></li>
		<li><a href="#" class="body-1">Colorado</a></li>
		<li><a href="#" class="body-1">Connecticut</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Delaware</a></li>
		<li><a href="#" class="body-1">Florida</a></li>
		<li><a href="#" class="body-1">Georgia</a></li>
		<li><a href="#" class="body-1">Idaho</a></li>
		<li><a href="#" class="body-1">Hawaii</a></li>
		<li><a href="#" class="body-1">Illinois</a></li>
		<li><a href="#" class="body-1">Indiana</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Iowa</a></li>
		<li><a href="#" class="body-1">Kansas</a></li>
		<li><a href="#" class="body-1">Kentucky</a></li>
		<li><a href="#" class="body-1">Louisiana</a></li>
		<li><a href="#" class="body-1">Maine</a></li>
		<li><a href="#" class="body-1">Maryland</a></li>
		<li><a href="#" class="body-1">Massachusetts</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Michigan</a></li>
		<li><a href="#" class="body-1">Minnesota</a></li>
		<li><a href="#" class="body-1">Mississippi</a></li>
		<li><a href="#" class="body-1">Missouri</a></li>
		<li><a href="#" class="body-1">Montana</a></li>
		<li><a href="#" class="body-1">Nebraska</a></li>
		<li><a href="#" class="body-1">Nevada</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">New Hampshire</a></li>
		<li><a href="#" class="body-1">New Jersey</a></li>
		<li><a href="#" class="body-1">New Mexico</a></li>
		<li><a href="#" class="body-1">New York</a></li>
		<li><a href="#" class="body-1">North Carolina</a></li>
		<li><a href="#" class="body-1">North Dakota</a></li>
		<li><a href="#" class="body-1">Ohio</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Oklahoma</a></li>
		<li><a href="#" class="body-1">Oregon</a></li>
		<li><a href="#" class="body-1">Pennsylvania</a></li>
		<li><a href="#" class="body-1">Rhode Island</a></li>
		<li><a href="#" class="body-1">South Carolina</a></li>
		<li><a href="#" class="body-1">South Dakota</a></li>
		<li><a href="#" class="body-1">Tennessee</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Texas</a></li>
		<li><a href="#" class="body-1">Utah</a></li>
		<li><a href="#" class="body-1">Vermont</a></li>
		<li><a href="#" class="body-1">Virginia</a></li>
		<li><a href="#" class="body-1">Washington</a></li>
		<li><a href="#" class="body-1">West Virginia</a></li>
		<li><a href="#" class="body-1">Wisconsin</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Wyoming</a></li>
	</ul>
</div>