<div class="regions__container">
	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>

	<ul>
		<li><a href="#" class="body-1">Архангельск</a></li>
		<li><a href="#" class="body-1">Астрахань</a></li>
		<li><a href="#" class="body-1">Барнаул</a></li>
		<li><a href="#" class="body-1">Белгород</a></li>
		<li><a href="#" class="body-1">Благовещенск</a></li>
		<li><a href="#" class="body-1">Братск</a></li>
		<li><a href="#" class="body-1">Брянск</a></li>
	</ul>
</div>